---
import Container from "./Container.astro"
import { Picture } from '@astrojs/image/components';
import logo from '../images/logo.png';
import Starfield from "./Starfield.astro";
---

<div class="relative min-h-full flex">
    <Starfield />
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300"></div>
    </div>
    <Container class="w-full">
        <div class="relative pb-16 pt-16 sm:pt-20 sm:pb-20 ml-auto min-h-full flex items-center">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="font-header text-white font-semibold text-5xl md:text-6xl xl:text-7xl">MadHacks</h1>
                <p class="text-white text-md md:text-lg xl:text-xl">University of Wisconsin–Madison</p>
                <Picture style="animation: 5s ease-in-out 0s infinite dropShadow" loading="eager" alt="MadHacks Brain and Blue Wave Logo" class="mx-auto flex justify-center my-6 w-64 md:w-80 xl:w-96 h-52 md:h-64 xl:h-80" src={logo} aspectRatio="6:5" sizes="(min-width: 1280px) 384px, (min-width: 768px) 320px, 256px" widths={[256, 320, 384, 512, 640, 768]} formats={['avif', 'webp', 'png']} quality={90} />
                <h2 class="font-header text-white font-semibold text-3xl md:text-4xl xl:text-5xl mb-4">We're Back!</h2>
                <h3 class="text-white text-lg md:text-xl xl:text-2xl mb-2">March 4th-5th, 2023</h3>
                <h4 class="text-white text-sm md:text-md xl:text-lg">Location: <b>Educational Sciences</b></h4>
                <h4 class="text-white text-sm md:text-md xl:text-lg">1025 W Johnson St, Madison, WI</h4>
                <a href="https://tally.so/r/mDqB1j" target="_blank" title="Get Notified" class="ml-auto text-xl font-bold text-white inline-block py-4 px-8 mt-6 rounded-lg text-center transition bg-gradient-to-br from-primary to-sky-600 hover:to-sky-700 active:to-sky-900 focus:to-sky-800">
                  APPLY NOW
                </a>
                <!-- <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Get started</span
                      >
                    </a>
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Learn more</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The lowest price</h6>
                        <p class="mt-2 text-gray-500">Some text here</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The fastest on the market</h6>
                        <p class="mt-2 text-gray-500">Some text here</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The most loved</h6>
                        <p class="mt-2 text-gray-500">Some text here</p>
                    </div>
                </div>
            </div> -->
          </div>
        </div>
    </Container>
    <style>
      @keyframes dropShadow {
        0% {
          filter: drop-shadow(0px 0px 25px #0096b1c0);
        }
        50% {
          filter: drop-shadow(0px 0px 10px #0096b1a0);
        }
        100% {
          filter: drop-shadow(0px 0px 25px #0096b1c0);
        }
      }
    </style>
</div>