---
import Container from "./Container.astro";

---

<div class="w-full mx-auto px-6 md:px-12 xl:px-6 bg-gray-800">
  <div class="relative pb-10 pt-10 sm:pt-10 sm:pb-10 ml-auto min-h-full flex flex-col items-center">
        <h1 id="schedule" class="font-header text-white font-semibold text-3xl md:text-4xl xl:text-5xl mt-12 mb-4">Schedule</h1>
        <div class="w-lg max-w-full overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 overflow-x-auto">
        <thead class="text-base uppercase bg-gray-700 text-gray-100">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Time
                </th>
                <th scope="col" class="px-6 py-3">
                    Core
                </th>
                <th scope="col" class="px-6 py-3">
                    Event
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    9:00 AM - 10:30 AM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Check-in
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Career Fair
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    10:30 AM - 11:15 AM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Walk-in Registration
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Career Fair
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    11:15 AM - 12:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Opening Ceremony
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Career Fair
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    12:00 PM - 1:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Lunch & Hacking Begins
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    1:00 PM - 2:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Hackathon Headstart
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    2:30 PM - 4:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Intro To HTML, CSS, JS Static Site
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    4:00 PM - 5:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Intro To Web Scraping
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    5:00 PM - 6:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    MLH's Bob Ross Painting Mini Event
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    6:00 PM - 7:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Dinner
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    7:00 PM - 8:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Intro to React.js
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    8:00 PM - 9:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Intro to Backend & Databases
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    9:00 PM - 10:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Jane Street's Estimathon™ Mini Event
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    10:00 PM - 8:00 AM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Hacking Through the Night
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    8:00 AM - 11:00 AM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Breakfast
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    12:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Final Submission Deadline
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    12:00 PM - 1:00 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Lunch
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    1:00 PM - 2:30 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Judging
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
            </tr>
            <tr class="bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    2:45 PM - 3:15 PM
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    Closing Ceremony and Prizes
                </td>
                <td class="px-6 py-4 font-medium text-lg whitespace-nowrap text-white">
                    
                </td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>
