---
import Container from "./Container.astro";

---

<Container class="w-full">
  <div class="relative pb-10 pt-10 sm:pt-20 sm:pb-20 ml-auto min-h-full flex flex-col items-center"><h1 class="font-header text-white font-semibold text-3xl md:text-4xl xl:text-5xl mt-12">Sponsors</h1>
    <div class="mt-2 flex flex-wrap justify-center">
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://www.epic.com" target="_blank"><img src="./images/sponsors/epic.svg" class="h-20 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
    </div>
    <div class="mt-4 flex flex-wrap justify-center">
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://www.gener8tor.com/" target="_blank"><img src="./images/sponsors/gener8tor.svg" class="h-10 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://www.github.com/" target="_blank"><img src="./images/sponsors/github.svg" class="h-10 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
    </div>
    <a href="/sponsorship.pdf"><p class="text-white mt-8 mb-2">Interested in sponsoring? →</p></a>
  </div>
</Container>