---
import Container from "./Container.astro";

---

<div class="w-full mx-auto px-6 md:px-12 xl:px-6 ">
  <div class="relative pb-10 pt-10 sm:pt-10 sm:pb-5 ml-auto min-h-full flex flex-col items-center">
    <h1 class="font-header text-white font-semibold text-3xl md:text-4xl xl:text-5xl mt-4 mb-4">Fall 2023 Sponsors</h1>
    <div class="mt-4 flex flex-wrap justify-center items-center">
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://www.github.com/" target="_blank"><img src="./images/sponsors/github.svg" class="h-10 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://aws.amazon.com/developer/community/students/cloudclubs/?community-captains-all.sort-by=item.additionalFields.sortPosition&community-captains-all.sort-order=asc&awsf.filter-location=*all&awsf.filter-year=*all" target="_blank"><img src="./images/sponsors/AWS_Cloud.svg" class="h-10 w-auto mx-auto" loading="lazy" alt="client logo"/></a>
      </div>
    </div>
    <a href="/sponsorship.pdf"><p class="text-cyan-300 mt-8 mb-2">Interested in sponsoring? →</p></a>
  </div>  

  <div class="relative pb-10 pt-10 sm:pt-10 sm:pb-20 ml-auto min-h-full flex flex-col items-center">
    <h1 class="font-header text-white font-semibold text-3xl md:text-4xl xl:text-5xl mt-4 mb-4">Spring 2023 Sponsors</h1>
    <div class="mt-2 flex flex-wrap justify-center items-center">
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://tdstelecom.com/careers.html" target="_blank"><img src="./images/sponsors/tds.svg" class="h-28 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
    </div>
    <div class="mt-2 flex flex-wrap justify-center items-center">
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://careers.epic.com/" target="_blank"><img src="./images/sponsors/epic.svg" class="h-16 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://www.associatedbank.com/" target="_blank"><img src="./images/sponsors/associatedbank.svg" class="h-20 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://www.roblox.com/" target="_blank"><img src="./images/sponsors/roblox.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
    </div>
    <div class="mt-4 flex flex-wrap justify-center items-center">
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://www.gener8tor.com/" target="_blank"><img src="./images/sponsors/gener8tor.svg" class="h-10 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://www.github.com/" target="_blank"><img src="./images/sponsors/github.svg" class="h-10 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://undergroundshirts.com/" target="_blank"><img src="./images/sponsors/ugp.svg" class="h-16 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="https://www.emerson.com/en-us" target="_blank"><img src="./images/sponsors/emerson.svg" class="h-20 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
      <div class="p-4 brightness-0 invert opacity-70 hover:invert-0 hover:brightness-100 hover:opacity-100">
        <a href="http://hackp.ac/mlh-StandOutStickers-hackathons" target="_blank"><img src="./images/sponsors/standoutstickers.svg" class="h-16 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" /></a>
      </div>
    </div>
  </div>  
</div>