---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en" class="h-full overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="MadHacks is the largest hackathon in Wisconsin!">
		<title>MadHacks 2024</title>
		<style>
			@font-face {
				font-family: 'Nunito Sans';
				font-style: normal;
				font-weight: 400;
				font-display: fallback;
				src: url(/fonts/NunitoSans.woff2) format('woff2');
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}
			@font-face {
				font-family: 'Outfit';
				font-style: normal;
				font-weight: 600;
				font-display: fallback;
				src: url(/fonts/Outfit.woff2) format('woff2');
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}
		</style>
	</head>
	<body class="bg-gray-900 h-full">
		<a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2024-season&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2024/mlh-trust-badge-2024-white.svg" alt="Major League Hacking 2024 Hackathon Season" style="width:100%"></a>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: "Nunito Sans", sans-serif;
	}

	h1, h2, h3, h4 , h5, h6 {
		font-family: Outfit, sans-serif;
	}

	body {
		margin: 0;
	}
</style>
