---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="MadHacks is the largest hackathon in Wisconsin, and we're back.">
		<title>MadHacks 2023</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white dark:bg-gray-900">
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: "Nunito Sans", sans-serif;
	}

	h1, h2, h3, h4 , h5, h6 {
		font-family: Outfit, sans-serif;
	}

	body {
		margin: 0;
	}
</style>